.left-side-drawer {
    height: 100%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 200;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.left-side-drawer.open {
    transform: translateX(0);
}

.drawer-links {
    padding-top: 50px;
}