
.flashtext {
  font-family: roboto;
  font-weight: 300;
}

pre {
    background-color: whitesmoke;
    border: 1px solid #cccccc;
    text-align: left; 
    display: inline-table;
    float: left;
}

code {
    padding : 5px;
}

.wrapper {
  width: 100%;
  height: 100vh;
}
.content-wrapper {
  display: flex;
  height: 93vh;
  justify-content: center;
  align-items: center;
  background: #c3baba;
  margin: 0 auto;
  padding: 0 2em;
}

.card  {
  width: 90%;
  min-height: 35em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 2px 3px 23px rgba(0,0,0,.1);
  padding: 0em 1em;
	transform-style: preserve-3d;
  margin-top: 4em;
  transition: 0.2s;
    
  
  &.back {
  
  }
  
  @media(max-width: 600px) {
    width: 25em;
  }
  
  @media(max-height: 823px) {
    margin-top: 9em;
  }
}

.card__flip-card {
  position: absolute;
  top: 4%;
  right: 5%;
  cursor: pointer;
  color: #333;
}

.card__counter {
  position: absolute;
  left: 5%;
  top: 5%;
}

.card__content--front {
  animation: fadeInUp 0.5s;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.card__content--back {
  animation: fadeIn 0.6s;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 10%;
  display: grid;
}

.header {
  background: white;
  box-shadow: 7px 7px 22px lightgray;
  padding: 1em 0em;
  display: flex;
  align-items: center;
  height: 3vh;
  color: black;
  position: absolute;
  width: 100%;
  z-index: 1;
position: static;
height: 40px;
}

.header-content {
  width: 33.33%;
  display: flex;
  justify-content: center;
  font-weight: 400;
  
  span {
    font-size: 1.3em;
    cursor: pointer
  }
}

.header-content__right {
  justify-content: flex-end;
   z-index: 11;
}

.header-content__left {
  justify-content: flex-start;
  
  span {
    margin-left: 1em;
  }
}

//create-card


.create-card {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-card__shadow {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: 101;
  height: 100%;
  width: 100%;
  transition: 0.5s;
 
}

.create-card__body {
  position: absolute;
  height: 20em;
  width: 30em;
  z-index: 1000;
  background: rgba(255,255,255,0.95);
  animation: fadeIn 0.5s;
  text-align: center;
  box-shadow: inset 0px 0px 0px 3px gray;
  outline: 4px solid white;
  left: 50%;
  top: 50%;
  transform: translateX(-50%)translateY(-50%);
  
  h1 {
    font-size: 1.3em;
    margin-top: 2.5em;
    color: #333;
  }
}

.create-card__placeholder {
  transition: 0.2s;
}

.create-card__input-wrapper {
  text-align: center;
  input {
    margin: 0.75em 0;
    padding: 0.5em 1em;
    width: 70%;
  }
}

#create-card__button {
  border: 1px solid;
  background: white;
  color: #333;
  cursor: pointer;
  margin-top: 1.75em;
  padding: 0.5em 0.75em;
  
  &:focus {
    outline: none;
  }
}

.create-card__error {
  color: tomato;
  margin-top: 1em;
}

.card-container__icon {
  position: fixed;
  z-index: 100;
  font-size: 1.5em;
  top: 0.5em;
  left: 94%;
  transform: translateX(-50%);
  cursor: pointer;
  color: #333;
}

.card__actions {
  position: absolute;
  bottom: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
  left: 0;
}

  .active {
    opacity: 1 !important;
  }

.card__next-button {
  margin-left: 0.5em;
  cursor: pointer;
  padding: 0.5em 0.75em;
  background: #c3baba;
  color: #444;
  transition: 0.2s;
  
  &:hover {
    background: darken(#c3baba, 10%);
  }
}

.card__prev-button {
  margin-right: 0.5em;
  cursor: pointer;
  padding: 0.5em 0.75em;
  background: #c3baba;
  color: #444;
  transition: 0.2s;
  
  &:hover {
    background: darken(#c3baba, 10%);
  }
}

.card-container__dot {
  margin: 0 1em;
}

.card-container__dots-wrapper {
  padding: 1em 0em;
  margin-top: 1em;
  text-align: center;
  
}

.card-container__dot {
  color: lightgray;
  cursor: pointer;
  
  &.active {
    color: dodgerblue;
    transition: 0.5s;
  }
}

.markdownContainer {
  overflow-y: scroll;
}

.gridContainer {
  padding-top: 3em;
}